
html,body {
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}




body::before
{
	content: '';
	/*width: 168vw;
	height: 145vw;*/

	width: 100%;
	height: 100%;
	position: fixed;
	background-image: url('BriteCoreNew.jpg');
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	

}

.panel-heading
{

	font-size: 20px;
	text-align: center;
	background-color: rgba(91, 192, 222,0.6);
	width: 95%;
	margin: 20px auto;
	line-height: 62px;
	border-radius: 6px;

}

.container
{

	margin-top: 0%;
	

}


.wrapper
{
	background-color: rgba(0,0,0,0.6);
	position: relative;
	margin: 0 auto;	
	border-style: solid;
	border-color: rgba(236, 224, 224, 0.6);
	border-radius: 6px;
	border-width: 1px

}

.main-heading
{
	position: relative;
	display: block;
	color: white;
	font-weight: bold;
	font-size: 30px;
}

.panel-heading
{


}




.heading
{

	/*color: #e5f2f2;*/
	color: white;
	/*font-weight: bold;*/
	font-size: 16px;

}

.form-group
{
	width: 95%;
	margin: 0 auto 1rem auto;
}

#feature-list
{
	position: relative;
	color: white;
	text-align: center;
	font-weight: normal;
	border: 1.2px solid white;
}


.feature-title
{
	background-color: rgba(91, 192, 222,0.6);
	float: left;
	width: 50%;
	font-weight: bold;
	border: 1.2px solid white;

}


.feature-tdate
{
	background-color: rgba(91, 192, 222,0.6);
	float: left;
	width: 30%;
	border-top: 1.2px solid white;
	border-right: 1.2px solid white;
	border-bottom: 1.2px solid white;
	font-weight: bold;

}


.feature-priority
{
	background-color: rgba(91, 192, 222,0.6);
	float: left;
	width: 20%;
	border-top: 1.2px solid white;
	border-right: 1.2px solid white;
	border-bottom: 1.2px solid white;
	font-weight: bold;
}


.title
{

	float: left;
	width: 50%;
	border-left: 1.2px solid white;
	border-right: 1.2px solid white;
	border-bottom: 1.2px solid white;
	padding-left: 12px;
	text-align: left;

}

.tdate
{

	float: left;
	width: 30%;
	/*border-left: 5px solid lightgrey;*/
	border-right: 1.2px solid white;
	border-bottom: 1.2px solid white;

}

.priority
{

	float: left;
	width: 20%;
	/*border-left: 5px solid lightgrey;*/
	border-right: 1.2px solid white;
	border-bottom: 1.2px solid white;


}

.no-feature
{
	width: 100%;
	border: 1.2px solid white;
	background-color: white;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px;
	color: #4d4d4d;
	font-weight: normal;
}

input
{
	font-size: 15px !important;
}

select
{
	font-size: 15px !important;
}

textarea
{
        font-size: 15px !important;
}



#calendar .errorStyle
{
        position: absolute;
        top: 29px;
        margin-top: 10px;
        padding: 2px 7px;
        width: auto;

}

#calendar > label
{
        color: white;
}

.calen-span
{
        font-size: 1.2rem !important;
        background-color: #fff !important;
        border-radius: 0.25rem;
}






.um-field-error {
		
            /*display: none;*/
	    width: auto;
	    max-width: 100%;
	    background: #C74A4A;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    color: #fff;
	    box-sizing: border-box;
	    position: relative;
	    padding: 12px;
	    font-size: 14px;
	    line-height: 20px!important;
	    margin: 12px 0 0;
}

.um-field-arrow {
	    top: -17px;
	    left: 10px;
	    position: absolute;
	    z-index: 900;
	    /*color: #C74A4A;*/
	    color: lightgrey;
	    font-size: 28px;
	    line-height: 1em!important;
}

.um-faicon-caret-up:before {
    content: "\f0d8";
}

[class*=" um-faicon-"]:before, [class^=um-faicon-]:before {
    font-family: FontAwesome!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    /*speak: none;*/
    line-height: 1;
    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;*/
}

.um-arrow i
{

	position: absolute;
	left: 6%;
	top: -36px;
	font-size: 40px;
	color: white;

}


#TargetDate
{
	border-right: solid;
	border-color: white;
}


#calendate
{
	position : relative;

}


#calen-font
{
	
	padding: .5rem .75rem;
	margin-bottom: 0;
	font-size: 1.15rem;
	font-weight: 400;
	line-height: 1.25;
	color: #464a4c;
	text-align: center;
	background-color: #fff;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: .25rem;
}


.btn-success:active {
  border-color: white;
}


#save:focus
{
	border-color: white !important;
}


#save
{

	width: 47%;
	margin-bottom: 22px;
	color: #fff;
	/*background-color: #5bc0de;*/
	background-color: rgba(91, 192, 222,0.6);
	border-color: #266e8499 !important;
	margin-top: 12px;
	margin-left: 2.5%;


}

#save:hover
{
	background-color: #238fb0;
	box-shadow: 0 0 0 2px rgba(92,184,92,.5);
	border-color: #266e8499;
}

#reset
{
	background-color: rgba(91, 192, 222,0.6);
	width: 47%;
	margin-bottom: 22px;
	margin-top: 12px;
	border-color: #266e8499 !important;
}

#reset:hover
{
	background-color: #238fb0;
	border-color: #266e8499;

}



@media only screen and (max-width: 350px){

        .container {
                width: 280px !important;
               
        }

	.main-heading
	{
		font-size: 17px;
	}

	.heading
	{
		font-size: 15px ! important;
	
	}

	input
	{
        	font-size: 12px !important;
	}

	select
	{
        	font-size: 12px !important;
	}

	textarea
	{
        	font-size: 12px !important;
	}


	.feature-title
        {
                font-size: 12px !important;

        }


        .feature-tdate
        {
                font-size: 12px !important;

        }       


        .feature-priority
        {
                font-size: 12px !important;
        }

        .title
        {
                font-size: 12px !important;
        }

        .tdate
        {
                font-size: 12px !important;
        }


        .priority
        {
                font-size: 12px !important;
        }

	.calen-span {
    		font-size: 0.9rem !important;
	}

	.no-feature {

                font-size: 9px;
        }


	

}



@media only screen and (max-width: 575px) and (min-width: 350px) {

	.container {
    		width: 350px !important;
    		/*max-width: 100%;*/
	}

	/*#calendar
         {
                left: 91%;
                top: 45.5%;
        }*/


	.main-heading
	{
		font-size: 21px;
	}

	.heading
	{
		font-size: 14px;

	}

	#feature-list
	{
		font-size: 14px;
	
	}
	.feature-row
	{
		fonr-size: 14px;
	}


	input::-webkit-input-placeholder {
    			font-size: 14px;
    			line-height: 3;
		}

	input
	{
		font-size: 15px !important;
	}

	select
	{
		font-size: 15px !important;
	}

	textarea
	{
		font-size: 15px !important;
	}

	.no-feature {

		font-size: 12px;

	}

}


@media only screen and (max-width: 767px)  and (min-width: 576px) {
        .container {
                width: 550px !important;
                /*max-width: 100%;*/
        }


}




@media only screen and (max-width: 1200px) and (min-width: 768px) {
        .container {
                width: 860px !important;
                max-width: 100%;
        }
}

@media (min-width: 1201px)
{

	 .container {
                width: 980px !important;
        }


}




